body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2B3242;
    padding: 20px 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

header ul {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
    
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover {
    text-decoration: underline;
}

article {
    margin: 30px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #666;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.3em;
    color: #999;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #333;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}
