@font-face {
    font-family: 'Bogart';
    src: url('transfonter.org-20230409-074459/BogartTrial-Regular.woff2') format('woff2'),
        url('transfonter.org-20230409-074459/BogartTrial-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2B3242;
    padding: 20px 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

header ul {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
    
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover {
    text-decoration: underline;
}

.blog-list {
    margin: 50px;
}

.blog-list h1 {
    font-size: 40px;
    color: #2B3242;
}

.blog-list p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.blog-post {
    margin-bottom: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 30px;
    background: white;
}

.blog-post h2 {
    font-size: 30px;
    color: #2B3242;
}

.blog-post p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.blog-post a {
    color: #2B3242;
    text-decoration: none;
}

.full-preview{
    display: flex;
    flex-flow: row;
}

.blog-image {
    width: 25%;
}

.blog-image-gpt {
    width: 20%;
    margin-right: 10px;
}

.blog-post a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .blog-image {
        width: 60%;
        align-self: center;
    }
    .full-preview {
        display: flex;
        flex-flow: column;
    }
}

